body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 245px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: 
    "sidebar searchbar"
    "sidebar main";

  overflow: hidden;

}

/* side bar */
.sidebar {
  height: 100vh;
  width: 245px;
  padding-top: 6px;
  background-color: #fbbf24;
  color: white;

  grid-area: sidebar;
}

/* top sidebar */
.sidebar-top{
  display: grid;
  grid-template-columns: repeat(2, 60px);
  margin-bottom: 35px;
}

.sidebar-top > a {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
  text-decoration: none;
}

.sidebar-header-img img {
  filter: brightness(0) invert(1);
  height: 45px;
}

/* middle sidebar */
.sidebar-mid {
  display: grid;
  grid-template-rows: repeat(6, 25px);
  grid-template-columns: repeat(2, 60px);
  margin-bottom: 60px;
  grid-gap: 12px;
}

.sidebar-mid > a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.sidebar-mid img {
  height: 19px;
  filter: brightness(0) invert(1);
}

.sidebar-mid [class="img"] {
  display: flex;
  justify-content: center;
}

.sidebar-mid a {
  font-weight: bold;
  font-size: 18px;
}

/* bottom sidebar */
.sidebar-bottom {
  display: grid;
  grid-template-rows: repeat(3, 25px);
  grid-template-columns: repeat(2, 60px);
  grid-gap: 12px;
}

.sidebar-bottom > a {
  display: flex; 
  align-items: center;
  color: white;
  text-decoration: none;
}

.sidebar-bottom img {
  height: 19px;
  filter: brightness(0) invert(1);
}

.sidebar-bottom [class="img"] {
  display: flex;
  justify-content: center;
}

.sidebar-bottom a {
  font-weight: bold;
  font-size: 18px;
}


/* header / searchbar first line */
.header {
  gap: 20px;
  padding-top: 10px;
}

.searchbar {
  display: grid;
  grid-template-columns: 75px 750px 135px 95px 1fr;
  grid-template-rows: 50px;
  grid-area: searchbar;
}

.searchbar > div {
  display: flex;
  align-items: center;
}

.searchbar-img img, .alarm-img img {
  height: 20px;
}

.searchbar-img {
  display: flex;
  justify-content: right;
  padding-right: 15px;
}

.alarm-img {
  display: flex;
  justify-content: right;
}

.searchbar-input input {
  width: 800px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  background-color: #fbecd9;
  padding-left: 15px;
}

.user-profile-bee-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-bee{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fde68a;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.user-profile-bee img {
  max-height: 100%;
  width: auto;
}

.name {
  font-weight: 500;
}

/* header second line */

.searchbar-second {
  display: grid;
  grid-template-columns: 100px 750px 1fr;
  grid-template-rows: 90px;

  box-shadow: 0px 5px 5px rgb(242, 223, 198);

  z-index: 1;
  position: relative;
}

.user-profile-bee-second-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.user-profile-bee-second img {
  max-height: 105%;
  width: auto;
}

.user-profile-bee-second {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fde68a;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.header-intro {
  padding-left: 15px;
  font-weight: 500;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-buttons > button {
  border-radius: 20px;
  background-color: #efb420;
  color: white;
  border: 0;
  height: 35px;
  width: 85px;
  font-weight: bold;
  font-size: 14px;
}

/* main */
/* projects section */
.main {
  background-color: #fbecd9;

  overflow-y: auto;
  height: 80vh;

  display: grid;
  padding: 1em 2em 1em 2em; 

  grid-template-areas: 
    "project-main announcement-section"
    "project-main trending-section";

  grid-area: main;
  grid-gap: 25px;
} 

.main::after {
  content: "";
  display: block;
  height: 75px;
}

.project-main {
  grid-area: project-main;
}

.project-header {
  font-weight: 500;
  font-size: 18px;
  color: rgb(39, 39, 39);
}

.main-projects {
  display: grid;
  grid-template-columns: 410px 410px;
  grid-template-rows: repeat(3, 275px);

  gap: 25px;
}

#project-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  width: 7px;
  height: 100%;
  background: #f5b74c; 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#project-box {
  display: grid;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  box-shadow: 7px 5px 5px rgb(242, 223, 198);

  background-color: white;
  padding: 15px;
  font-size: 17px;
  font-weight: 500;
  position: relative;
}

.project-icons {
  display: flex;
  justify-content: end;
  bottom: 0;
  right: 0;
  position: absolute;
  right: 30px;
  bottom: 35px;
  gap: 25px;
}

.project-icons > img {
  width: 25px;
  height: 25px;
}

/* main / announcement section  */

.announcement-section {
  grid-area: announcement-section;
}

.announcement-header {
  font-size: 18px;
  font-weight: 500;
  color: rgb(39, 39, 39);
  
}

.announcement-main {
  display: grid;

  grid-template-columns: repeat(1, minmax(200px, 1fr));
  width: 220px;

  border-radius: 7px;
  background-color: white;

  padding: 30px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 500;

  box-shadow: 7px 5px 5px rgb(242, 223, 198);

}

.announcement-main hr {
  border-color: rgb(255, 253, 253);
}

/* trending section */
.trending-section {
  grid-area: trending-section;
}

.trending-header {
  font-size: 18px;
  font-weight: 500;
  color: rgb(39, 39, 39);
}

.trending-main {
  display: grid;
  border-radius: 7px;
  background-color: white;

  padding: 1em 2em;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 400;

  box-shadow: 7px 5px 5px rgb(242, 223, 198);
}

.trending-profile{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 8px;
  gap: 10px;
}

#adam-profile {
  background-color: rgb(211, 166, 166);
}

.user-profile-trending {
  display: flex;
  align-items: center;
}

.user-profile-trending img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}