body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
 
  display: grid;

  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  height: 100vh;
 }
 
 .sidebar {
  width: 100%;
  height: 100vh;
  background-color: #fbbf24;
 }
 
 .sidebar ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  color: white;

  font-weight: bold;
  font-size: 17px;
 }

 .sidebar img {
  height: 20px;
  filter: brightness(0) invert(1);
 }

 .sidebar-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;

  gap: 30px;

  background-color: #fbbf24;
 }

 .sidebar-container > div {
  display: flex;
  align-items: center;
 }

 .sidebar-container li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 25px;
 }

 .sidebar-header {
  gap: 8px;
  color: white;
 }

 .sidebar-header img {
  height: 35px;
 }


 /* right main  */
 .right-main {
  width: 100%;
  overflow-y: scroll;
  padding-top: 10px;
 }

 /* header / searchbar first line */

 .searchbar {
  display: grid;
  grid-template-columns: minmax(50px, .4fr) minmax(200px, 5fr) minmax(100px, 1fr) minmax(100px, .5fr) minmax(100px, 1fr);
 }

 .searchbar div {
  display: flex;
  align-items: center;
 }

 .name {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  font-weight: 500;
 }

 .searchbar-img img, .alarm-img img {
  height: 20px;
 }
 
 .searchbar-img, .alarm-img {
  display: flex;
  justify-content: flex-end;
 }

 .user-profile-bee-container {
  display: flex;
  justify-content: center;
 }
 
 .user-profile-bee{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fde68a;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  overflow: hidden;
 }
 
 .user-profile-bee img {
  max-height: 100%;
 }

 .searchbar-input {
  padding: 10px;
 }

 .searchbar-input input{
  padding-left: 15px;
  width: 100%;
  height: 25px;
  border-radius: 20px;
  border: 0;
  background-color: #fbecd9;
 }
 
 /* header second line */
.searchbar-second {
  display: grid;
  grid-template-columns: minmax(100px, .7fr) minmax(250px, 4.5fr) minmax(300px, 2fr);
  box-shadow: 7px 5px 5px rgb(242, 223, 198);
  z-index: 1;
  position: relative;
}

.user-profile-bee-second-container {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 15px;
}

.user-profile-bee-second {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fde68a;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  overflow: hidden;
 }

 .user-profile-bee-second img {
  max-height: 105%;
 }

 .header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
 }
 
 .header-buttons > button {
  border-radius: 20px;
  background-color: #efb420;
  color: white;
  border: 0;
  height: 35px;
  width: 85px;
  font-weight: bold;
  font-size: 14px;
 }

 .header-intro {
  font-weight: 500;
 }
 
 /* main */
/* projects section */

.project-main {
  width: auto;
  overflow-y: scroll;
  background-color: #fbecd9;
  padding: 1em 2em 1em 2em;

  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 20px;
}

.project-header {
  font-weight: 500;
  font-size: 18px;
  color: rgb(39, 39, 39);
 }

.main-projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(3, minmax(250px, 1fr));
  gap: 20px;
 }

#project-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 7px;
  height: 100%;
  background: #f5b74c;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
 }

#project-box{
  border-radius: 7px;
 
  background-color: white;
  padding: 15px;
  font-size: 17px;
  font-weight: 500;
  gap: 50px;

  position: relative;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  box-shadow: 7px 5px 5px rgb(242, 223, 198);
 }

 .project-icons {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 30px;
  bottom: 35px;
  gap: 25px;
 }

 .project-icons > img {
  width: 25px;
  height: 25px;
  margin-left: 20px;
 } 
 
 /* right side main */
 /* announcement section  */
 .announcement-header {
  font-size: 18px;
  font-weight: 500;
  color: rgb(39, 39, 39);
  }
 
 .announcement-main {
  display: grid;
 
  border-radius: 7px;
  background-color: white;
 
  padding: 30px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 500;
 
  box-shadow: 7px 5px 5px rgb(242, 223, 198);
 }
 
 .announcement-main hr {
  border-color: rgb(255, 253, 253);
 }
 
 /* trending section */

 .trending-section {
  margin-top: 30px;
 }

 .trending-header {
  font-size: 18px;
  font-weight: 500;
  color: rgb(39, 39, 39);
 }
 
 .trending-main {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  border-radius: 7px;
  background-color: white;
 
 
  padding: 1em 2em;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 400;
 
 
  box-shadow: 7px 5px 5px rgb(242, 223, 198);
 }
 
 .trending-profile{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 8px;
  gap: 10px;
 }
 
 #adam-profile {
  background-color: rgb(211, 166, 166);
 }
 
 .user-profile-trending {
  display: flex;
  align-items: center;
 }

 .user-profile-trending img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
 }
 
 